th, td{
    padding:10px, 4px
}

table,td,th{
    border:thin solid lightgrey
}

li{
  padding:5px;  
}

table{
    margin-top:10px;
    border:10px;
    width:100%;
    border-collapse:collapse;
}